@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
  margin: 0;
  padding: 0;
  background-color: #F23253;
}

* {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.header {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100px;
  vertical-align: middle;
}

.header span {
  margin: 0 auto;
  vertical-align: middle;
}
